@font-face {
  font-family: 'Montserrat';
  src: url('~@/fonts/Montserrat-Bold.woff') format('woff'), url('~@/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/fonts/Montserrat-SemiBold.woff') format('woff'), url('~@/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/fonts/Montserrat-Regular.woff') format('woff'), url('~@/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  margin: 0;
}